app = "intercomifi"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[mounts]
  source = "bridge_data"
  destination = "/data"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [services.http_checks]
    interval = "15s"
    timeout  = "2s"
    path     = "/"
